#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
shenxl.qingdoc/File/test1.doc
shenxl.qingdoc/File/test2.doc
shenxl.qingdoc/File/test3.doc
shenxl.qingdoc/File/test4.xls
shenxl.qingdoc/File/test5.doc
shenxl.qingdoc/File/test6.doc
shenxl.qingdoc/File/test7.xlsx
shenxl.qingdoc/File/test8.doc
shenxl.qingdoc/File/test9.doc
shenxl.qingdoc/File/图表类型模板_829872.dpt
