@{
    Layout = "~/Views/Shared/_FileView.cshtml";
}

<div class="loading-mask" style="display: none;">
      <div class="loading-zone">
        <div class="text">正在载入...0%</div>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div>
      <div class="brand">
        <footer>
          Powered by: <a href="http://www.idocv.com">I Doc View</a>&nbsp;&nbsp;&nbsp;Email: <a href="mailto:support@idocv.com">support@idocv.com</a>
        </footer>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- FILE NAME HERE -->
          <div class="nav-collapse collapse">
            <ul class="nav excel-tab-title">
              <!-- EXCEL TAB TITLE(s) HERE -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12" style="width: auto; padding-right: 20px">
          <!-- Excel tab content start -->
          <div class="tab-content">
          @*<div class="tab-content" contenteditable="true">*@
          	<!-- EXCEL CONENT HERE -->
          </div><!-- Excel tab content end -->
        </div><!--/span-->
      </div><!--/row-->
      <hr>


    </div><!--/.fluid-container-->

    <script src="~/Scripts/excel.js" type="text/javascript"></script> 
