@{
    Layout = "~/Views/Shared/_FileView.cshtml";
}

<meta name="viewport" content="width=device-width" />
<link href="~/Content/dropzone/Style/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone.js"></script>
<script>
    //Dropzone的初始化，myDropzone为form的id
    Dropzone.options.myDropzone = {
        //指定上传图片的路径
        url: "@Url.Action("FileUpload", "File")",
            //添加上传取消和删除预览图片的链接，默认不添加
            addRemoveLinks: true,
            //关闭自动上传功能，默认会true会自动上传
            //也就是添加一张图片向服务器发送一次请求
            autoProcessQueue: true,
            //允许上传多个照片
            uploadMultiple: false,
            init: function () {
                //this.on("thumbnail", function (data, dataUrl) {
                //    alert(data);
                //});
                this.on("success", function (data, responseText) {
                    var res = eval('(' + data.xhr.responseText + ')');
                    var msg;
                    if (res.Result) {
                        //alert(res.Key);
                        window.location.href = "/File/Show/" + res.Key;
                    }
                    else {
                        msg = "上传失败，失败的原因是：" + res.Message;
                        alert(msg);
                    }
                });

            }
        };
</script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- FILE NAME HERE -->
            <div class="nav-collapse collapse">
                <ul class="nav excel-tab-title">
                    <!-- EXCEL TAB TITLE(s) HERE -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <form action="/" class="dropzone" enctype="multipart/form-data" id="my-dropzone" method="post">
        </form>
    </div>
    <hr>
    <footer>
        Powered by: shenxl
    </footer>
</div>